<table>
    <thead>
        <tr>
            <!-- <th colspan="2">
                STUDENT PERSONAL DETAILS
            </th> -->

            <!-- <th [colspan]="columnSpan">
                STUDENT PERSONAL DETAILS
            </th> -->

            <!-- <th colspan="{{columnSpan}}">
                STUDENT PERSONAL DETAILS
            </th> -->


            <!-- <th [attr.colspan]="columnSpan">
                STUDENT PERSONAL DETAILS
            </th> -->

            <!-- <th attr.colspan="{{columnSpan}}">
                STUDENT PERSONAL DETAILS
            </th> -->
        </tr>
    </thead>


    <tr>
        <td>First Name</td>
        <td>{{firstName}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{lastName}}</td>
    </tr>
</table>