<table>
    <tr>
        <td>First Name</td>
        <td>{{firstName}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{lastName}}</td>
    </tr>
</table>



<!-- <table>
    <tr>
        <td style="border:2px solid black;">First Name</td>
        <td style="border:2px solid black;">{{firstName}}</td>
    </tr>
    <tr>
        <td style="border:2px solid black;">Last Name</td>
        <td style="border:2px solid black;">{{lastName}}</td>
    </tr>
</table> -->


<!-- <style>
    table {
        color: deeppink;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
    }
    
    td {
        border: 2px solid darkorange;
    }
</style> -->

<!-- <table>
    <tr>
        <td>First Name</td>
        <td>{{firstName}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{lastName}}</td>
    </tr>
</table> -->