<body>

    <student-count [all]="getTotalStudentsCount()" [india]="getIndiaCount()" [us]="getUsCount()">
    </student-count>
    <br /><br />

    <table>
        <thead>
            <tr>
                <th>RollNumber</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Country</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let student of students'>
                <td>{{student.rollNumber}}</td>
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.country}}</td>
                <td>{{student.location}}</td>
            </tr>
            <tr *ngIf="!students || students.length==0">
                <td colspan="5">
                    No records available
                </td>
            </tr>
        </tbody>
    </table>
</body>