<div class="container mt-5" style="max-width: 550px;">

    <form #myForm="ngForm" (ngSubmit)="submit(myForm)">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="model.name" required>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" required>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" required>
        </div>

        <div class="form-group">
            <label>Subjects</label>
            <select class="form-control" name="subjects" [(ngModel)]="Subjects">
                <option value="">Choose value</option>
                <option *ngFor="let subject of Subjects" [value]="subject">
                    {{subject}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block">Submit</button>
        </div>
    </form>

</div>